# Ignore everything in paper/ except the manuscript sources
*
!.gitignore
!main.tex
!sources.bib
!supplement.tex
!audit-2026-07-23.md
# Copernicus journal template files (needed to build the paper)
!copernicus.cls
!copernicus.cfg
!copernicus.bst
!README_copernicus_package_6_9.txt
# Concept figures: scripts, libs, and locked PDFs (build inputs)
!concept-figs/
!concept-figs/**
concept-figs/__pycache__/
concept-figs/*_hires.png
